HTML, BODY {background-color: #333333;}

/* hidden container */
.xhll_hidCTNR {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
}

.xhll_fixFullWindow {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left:0 !important;
}

/* log container */
.xhll_logCTNR {
    z-index: 1000 !important;
    overflow: auto !important;
    white-space: pre !important;
    pointer-events: none !important;
}
.xhll_logCTNR p {
    margin: 0 !important;
    padding: 0 0 0 1em !important;
    font-size: 14px !important;
    line-height: 150% !important;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    font-family: "Lucida Console", Monaco, monospace !important;
    pointer-events: none !important;
}

.xhll_logCTNR p.log {
    color: #666 !important;
    font-weight: normal !important;
    text-shadow:
        0px -1px 0px #fff,
        1px 0px 0px #fff,
        0px 1px 0px #fff,
        -1px 0px 0px #fff,
        -1px -1px 0px #fff,
        -1px 1px 0px #fff,
        1px -1px 0px #fff,
        1px 1px 0px #fff;
}

.xhll_logCTNR p.warn {
    color: #F33 !important;
    font-weight: bold !important;
    text-shadow:
        0px -1px 0px #000,
        1px 0px 0px #000,
        0px 1px 0px #000,
        -1px 0px 0px #000,
        -1px -1px 0px #000,
        -1px 1px 0px #000,
        1px -1px 0px #000,
        1px 1px 0px #000;
}

/* background container */
.xhll_bkgCTNR {
    z-index: 1 !important;
    background-color: #737373;
}

/* body container */
.xhll_bdyCTNR {
    z-index: 2 !important;
    background-color: transparent !important;
}
/* force hide everything in body at first */
.xhll_bdyCTNR > * {
    display: none;
}

/* cover container */
.xhll_cvrCTNR {
    z-index: 3 !important;
    background-color: #ededed !important;
}

.xhll_cvr_logo {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: -30px 0 0 0;
    height: 60px;
    overflow: hidden;
}

.xhll_cvr_logo_img {
    position: absolute;
    top: 0;
    left: 50%;
}
.xhll_cvr_logo_label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #818181;
    text-shadow: rgb(33, 33, 33) 1px 1px 0px;
}

.xhll_cvr_statusbar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 100px auto auto -150px;
    height: 18px;
    width: 300px;
    overflow: hidden;
    text-align: center;
    font-family: Verdana;
    font-size: 12px;
    line-height: 18px;
}

.xhll_cvr_statusbar_label {
    position: relative;
    height: 18px;
    font-family: Verdana;
    font-size: 12px;
}